@model IEnumerable<eshop2.Models.product>

@{
    ViewBag.Title = "ListeSuppression";
}

<h2>Choisir le produit à supprimer</h2>

<table class="table table-striped table-hover">
    <tr class="info">
        <th>@Html.DisplayNameFor(model => model.First().Product_name)</th>
        <th>@Html.DisplayNameFor(model => model.First().product_description)</th>
        <th>@Html.DisplayNameFor(model => model.First().Quantite)</th>
        <th>@Html.DisplayNameFor(model => model.First().prix)</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Product_name)</td>
            <td>@Html.DisplayFor(modelItem => item.product_description)</td>
            <td>@Html.DisplayFor(modelItem => item.Quantite)</td>
            <td>@Html.DisplayFor(modelItem => item.prix)</td>
            <td>
            @Html.ActionLink("Supprimer le produit", "Supprimer", new { id = item.Id }, new { @class = "btn btn-info" })
            </td>
        </tr>
    }
</table>
